@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

:root {
  --max-width: 768px;
  --primary-color: #0067b8;
}

html, body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 0 2rem 0 2rem;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

header {
  display: block;
  color: #555;
  padding: 0 2rem 0 2rem;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.5;
}

header p {
  margin: 0.3rem;
}

header h1 a {
  color: #555;
}

header h1 a:hover {
  text-decoration: none;
}

footer {
  margin: 2rem 0 1rem 0;
  font-size: 0.9rem;
  text-align: center;
}

#version {
  color: #ccc;
}

#input-select-zone {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#format-select-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#selected-font-info {
  text-align: center;
}

.convert-summary {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

#convert-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#convert-result-container a{
  font-weight: 600;
}

#convert-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.spinner-off {
  display: none;
}

#spinner {
  text-align: center;
  line-height: 1.5;
}

#spinner-icon {
  margin-left: 6px;
}

#error-message-container {
  font-weight: bold;
  color: red;
}

.error-message-off {
  display: none;
}
